.Board {
  margin: 0 auto;
}

/* Based off https://codepen.io/nodws/pen/bdjwn */
@import url(//fonts.googleapis.com/css?family=Vibur);
body{
  height:100%;
  background: black 
}
.logo {
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  margin-bottom: 40px;
}

.logo b{
  font: 400 19vh "Vibur";
  font-size: 90px;
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
}
.logo b span{
  animation: blink linear infinite 2s;
}
.logo b span:nth-of-type(2){
  animation: blink linear infinite 5s;
}
@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: rgb(187, 187, 187);
  }
  80% {
    
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: rgb(231, 185, 185);
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: rgb(212, 205, 205);
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}
